<!DOCTYPE html>
<head>
</head>
<body>
	
1. 다운로드 파일이 장치를 손상시킬 수 있으므로 차단되었다고 뜨는 경우
<br/><br/>
1) 오른쪽 점 세개있는 '추가작업'을 누른다.
<br/><br/>
2) '유지'를 누른다.
<br/><br/>
3) '더보기'를 눌러서 '그래도 계속'을 누른다.

<br/><br/>

2. 다운은 받은것 같은데 파일이 안열리는 경우(권한문제)
<br/>
1) 우클릭 후 관리자권한으로 실행 누르기

<br/><br/>

3. 액세스 허용이 안되는 경우


<br/><br/>
4. 윈도우 버전 호환이 안되는 경우(윈도우 10이 아닌 경우)
<br/><br/>


5. 해상도가 달라 게임파일을 열어보니 글씨가 깨져있는 경우

<br/><br/>

6. 정상적으로 파일을 다운받고 게임이 열리는 경우

<br/><br/>

파일을 다운받아본 후 이 1 ~ 5가지 경우중 몇번에 해당하는지를 문자메시지로 보내주세요.<br/>
</body>
</html>